.wrapper {
  margin: 20px;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.content-image {
  max-width: 400px;
  max-height: 400px;
  margin-right: 20px
}

.content-text {
  overflow-y: scroll;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.header-text {
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px lightgray solid;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .content-container {
    display: flex;
    flex-direction: column;
  }

  .content-image {
    max-width: 400px;
    max-height: 400px;
    align-self: center;
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .content-text {
    overflow-y: scroll;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }
}
